### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data.value_counts("Purchase ID"))
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(pd.unique(purchase_data["Item ID"]))
unique_items

179

In [4]:
average_price = round(purchase_data["Price"].mean(),2)
print("$"+str(average_price))

$3.05

In [5]:
num_purchases = purchase_data["Purchase ID"].count()
num_purchases

780

In [6]:
total_revenue = round(purchase_data["Price"].sum(),2)
print("$"+str(total_revenue))

$2379.77

In [7]:
#purchase_data_df = pd.DataFrame[[unique_items, average_price, num_purchases, total_revenue],columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purchase_dict = {'Number of Unique Items': [unique_items], 'Average Price': ["$"+str(average_price)], 'Number of Purchases': [num_purchases], 'Total Revenue': ["$"+str(total_revenue)]}
purchase_data_df = pd.DataFrame(data=purchase_dict)
purchase_data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_count = purchase_data.value_counts("Gender")
gender_count
# gender_percentage = round(purchase_data["Gender"].value_counts("Female"),2)*100
# gender_percentage

male_df = purchase_data[purchase_data["Gender"] == "Male"]
male_df
male_df_count = len(male_df)
male_df_count
male_percent = round((male_df_count/total_players)*100, 2)
male_percent

83.59

In [9]:
female_df = purchase_data[purchase_data["Gender"] == "Female"]
female_df
female_df_count = len(female_df)
female_df_count
female_percent = round((female_df_count/total_players)*100, 2)
female_percent

14.49

In [10]:
other_df = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_df
other_df_count = len(other_df)
other_df_count
other_percent = round((other_df_count/total_players)*100, 2)
other_percent

1.92

In [11]:
gender_dict = {'Gender': ["Male", "Female", "Other / Non-Disclosed"],
               'Total Count': [male_df_count, female_df_count, other_df_count], 
               'Percentage of Players': [male_percent, female_percent, other_percent]}

gender_dict_df = pd.DataFrame(data=gender_dict)
gender_dict_df

                  Gender  Total Count  Percentage of Players
0                   Male          652                  83.59
1                 Female          113                  14.49
2  Other / Non-Disclosed           15                   1.92

In [12]:
gender_dict_df.set_index("Gender")

                       Total Count  Percentage of Players
Gender
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#purchase_data.head(10)
group_df = purchase_data.groupby(by=["Gender"])
group_df.count().head(10)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [14]:
average_purchase_price = round(group_df["Price"].mean(), 2)
average_purchase_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [15]:
#Purchase count by gender
purchase_count_gender = group_df["Purchase ID"].count()
purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [16]:
purchase_total_price = round(group_df["Price"].sum(), 2)
purchase_total_price
avg_purchase_total_price = round(average_purchase_price.sum(), 2)
avg_purchase_total_price

9.57

In [17]:
total_purchase_value_1 = round(group_df['Price'].sum(), 2)
#total_purchase_value
purchase_value_per_gender = round(total_purchase_value / gender_count, 2)
purchase_value_per_gender

NameError: name 'total_purchase_value' is not defined

In [ ]:
#edit
df_gender_2 = purchase_data.groupby('Gender')

gender_count_1 = purchase_data['Gender'].value_counts(0)
purchase_count = round(df_gender_2['Purchase ID'].count(), 0)
avg_purchase_price = round(df_gender_2['Price'].mean(), 2)
total_purchase_value = round(df_gender_2['Price'].sum(), 2)
purchase_value_per_gender = round(total_purchase_value_1 / gender_count, 2)

summary_dataframe2 = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value, purchase_value_per_gender])
summary2 = summary_dataframe2.T
summary2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary2

In [ ]:
purchasing_analysis_df = pd.DataFrame([purchase_count_gender, average_purchase_price, purchase_total_price, purchase_value_per_gender])
df1 = purchasing_analysis_df.T

df1.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
df1

In [ ]:
total_purchase_value_1

In [ ]:
total_purchase_value

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
purchase_data.describe()

In [ ]:
bins = [6.71, 14.71, 22.71, 34.71, 46.71]

group_names = ["A", "B", "C", "D"]

In [ ]:
purchase_data["Age cuts"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

#purchase_data.drop(columns = ["Age groups"], inplace = True)
purchase_data

In [ ]:
age_df = purchase_data[["Age cuts", "SN"]].drop_duplicates(subset = 'SN')
purchase_data_group = age_df.groupby("Age cuts")
purchase_data_group.count()

In [ ]:
len(age_df["SN"])

In [ ]:
#percentage of players by age
Age_percentage = round(((age_df["SN"])/576)*100, 2)
Age_percentage

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_data.describe()

In [ ]:
bins = [6.71, 14.71, 22.71, 34.71, 46.71]

group_names = ["A", "B", "C", "D"]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
spenders_df=purchase_data.groupby("SN")
len(spenders_df.count())

576

In [ ]:
purchase_cnt =

In [20]:
df_SN = purchase_data.groupby('SN')
#pd.options.display.float_format = '${:,.2f}'.format
SN_count = purchase_data['SN'].value_counts(0)
purchase_count = round(df_SN['Purchase ID'].count())
avg_purchase_price = round(df_SN['Price'].mean(), 2)
total_purchase_value = round(df_SN['Price'].sum(), 2)
#SN_count
#purchase_count
#avg_purchase_price
#total_purchase_value

top_spenders_df = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value])
top_spenders_df1 = top_spenders_df.T
top_spenders_df1.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
top_spenders_df1
top_spenders_df1.sort_values(by=["Purchase Count"], ascending=False, inplace=True)
top_spenders_df1
top_spenders_df1['Average Purchase Price'] = top_spenders_df1['Average Purchase Price'].map('${:,.2f}'.format)
top_spenders_df1['Total Purchase Value'] = top_spenders_df1['Total Purchase Value'].map('${:,.2f}'.format)
top_spenders_df1

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                5.0                  $3.79               $18.96
Iral74                   4.0                  $3.40               $13.62
Idastidru52              4.0                  $3.86               $15.45
Asur53                   3.0                  $2.48                $7.44
Inguron55                3.0                  $3.70               $11.11
...                      ...                    ...                  ...
Hala31                   1.0                  $1.02                $1.02
Haisurra41               1.0                  $4.40                $4.40
Hailaphos89              1.0                  $3.81                $3.81
Haestyphos66             1.0                  $1.97                $1.97
Iskosian40               1.0                  $3.07                $3.07

[576 rows x 3 columns]

In [ ]:
             Purchase Count Average Purchase Price Total Purchase Value
SN                                                                     
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
purchase_data
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
popular_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [30]:
popular_df_grp = popular_df.groupby(["Item ID","Item Name"])
popular_df_grp.count()

                                                      Price
Item ID Item Name
0       Splinter                                          4
1       Crucifer                                          4
2       Verdict                                           6
3       Phantomlight                                      6
4       Bloodlord's Fetish                                5
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm     12
179     Wolf, Promise of the Moonwalker                   6
181     Reaper's Toll                                     5
182     Toothpick                                         3
183     Dragon's Greatsword                               3

[179 rows x 1 columns]

In [32]:
item_count = popular_df_grp["Item ID"].count()
item_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [33]:
total_item_price =popular_df_grp["Price"].sum()
total_item_price

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [37]:
average_item_price = round(total_item_price/item_count,2)
average_item_price

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        2.94
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Length: 179, dtype: float64

In [42]:
items_df = pd.DataFrame([item_count, average_item_price, total_item_price])
items_df = items_df.T
items_df.columns = ['Item Count', 'Average Item Price', 'Total Item Value']
items_df
items_sort_df = items_df.sort_values(by=["Item Count"], ascending=False)
items_sort_df
items_sort_df['Average Item Price'] = items_sort_df['Average Item Price'].map('${:,.2f}'.format)
items_sort_df['Total Item Value'] = items_sort_df['Total Item Value'].map('${:,.2f}'.format)
items_sort_df

,,Item Count,Average Item Price,Total Item Value
Item ID,Item Name,,,
0,Splinter,4.0,1.28,5.12
1,Crucifer,4.0,2.94,11.77
2,Verdict,6.0,2.48,14.88
3,Phantomlight,6.0,2.49,14.94
4,Bloodlord's Fetish,5.0,1.70,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
179,"Wolf, Promise of the Moonwalker",6.0,4.48,26.88
181,Reaper's Toll,5.0,1.66,8.30
182,Toothpick,3.0,4.03,12.09
183,Dragon's Greatsword,3.0,1.09,3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [43]:
items_total_sort_df = items_df.sort_values(by=["Total Item Value"], ascending=False)
items_total_sort_df

,,Item Count,Average Item Price,Total Item Value
Item ID,Item Name,,,
92,Final Critic,13.0,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
82,Nirvana,9.0,4.90,44.10
145,Fiery Glass Crusader,9.0,4.58,41.22
103,Singed Scalpel,8.0,4.35,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2.0,1.06,2.12
125,Whistling Mithril Warblade,2.0,1.00,2.00
126,Exiled Mithril Longsword,1.0,2.00,2.00
104,Gladiator's Glaive,1.0,1.93,1.93
42,The Decapitator,1.0,1.75,1.75