### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data.value_counts("Purchase ID"))
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(pd.unique(purchase_data["Item ID"]))
unique_items

179

In [4]:
average_price = round(purchase_data["Price"].mean(),2)
print("$"+str(average_price))

$3.05

In [5]:
num_purchases = purchase_data["Purchase ID"].count()
num_purchases

780

In [6]:
total_revenue = round(purchase_data["Price"].sum(),2)
print("$"+str(total_revenue))

$2379.77

In [7]:
#create dictionary with Key value pairs
purchase_dict = {'Number of Unique Items': [unique_items], 'Average Price': ["$"+str(average_price)], 'Number of Purchases': [num_purchases], 'Total Revenue': ["$"+str(total_revenue)]}
purchase_data_df = pd.DataFrame(data=purchase_dict)
purchase_data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_count = purchase_data.value_counts("Gender")
gender_count
male_df = purchase_data[purchase_data["Gender"] == "Male"]
male_df
male_df_count = len(male_df)
male_df_count
male_percent = round((male_df_count/total_players)*100, 2)
male_percent

83.59

In [9]:
female_df = purchase_data[purchase_data["Gender"] == "Female"]
female_df
female_df_count = len(female_df)
female_df_count
female_percent = round((female_df_count/total_players)*100, 2)
female_percent

14.49

In [10]:
other_df = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_df
other_df_count = len(other_df)
other_df_count
other_percent = round((other_df_count/total_players)*100, 2)
other_percent

1.92

In [11]:
gender_dict = {'Gender': ["Male", "Female", "Other / Non-Disclosed"],
               'Total Count': [male_df_count, female_df_count, other_df_count], 
               'Percentage of Players': [male_percent, female_percent, other_percent]}

gender_dict_df = pd.DataFrame(data=gender_dict)
gender_dict_df

                  Gender  Total Count  Percentage of Players
0                   Male          652                  83.59
1                 Female          113                  14.49
2  Other / Non-Disclosed           15                   1.92

In [12]:
gender_dict_df.set_index("Gender")

                       Total Count  Percentage of Players
Gender
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_group_df = purchase_data.groupby('Gender')
#gender_count = purchase_data['Gender'].value_counts(0)
gender_count = purchase_data['Gender'].count()
purchase_count_gender = round(gender_group_df['Purchase ID'].count(), 0)
average_purchase_price = round(gender_group_df['Price'].mean(), 2)
total_purchase_value = round(gender_group_df['Price'].sum(), 2)
total_purchase_value
purchase_value_per_gender = round(total_purchase_value / gender_count, 2)
purchase_value_per_gender

gender_group_df1 = pd.DataFrame([purchase_count_gender, average_purchase_price, total_purchase_value, purchase_value_per_gender])
gender_group_df2 = gender_group_df1.T
gender_group_df2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
gender_group_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.20,361.94,0.46
Male,652.0,3.02,1967.64,2.52
Other / Non-Disclosed,15.0,3.35,50.19,0.06

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [15]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [16]:
purchase_data["Age Cuts"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
#purchase_data.drop(columns = ["Age groups"], inplace = True)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Cuts
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [17]:
age_grp = purchase_data[['Age Cuts','SN']].drop_duplicates(subset = 'SN')
age_grp_df = age_grp.groupby("Age Cuts").count()
age_grp_df.head()
age_grp_counts = age_grp_df['SN'].astype(int)
age_grp_counts

Age Cuts
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int32

In [18]:
age_grp_percentages = round(age_grp_counts / 576 * 100, 2)
age_grp_percentages

age_group_final_df = pd.DataFrame([age_grp_counts, age_grp_percentages])
#age_group_final_df
age_group_final_df = age_group_final_df.T
age_group_final_df.columns = ['Total Count', 'Percentage of Players']
age_group_final_df.head(20)

          Total Count  Percentage of Players
Age Cuts
<10              17.0                   2.95
10-14            22.0                   3.82
15-19           107.0                  18.58
20-24           258.0                  44.79
25-29            77.0                  13.37
30-34            52.0                   9.03
35-39            31.0                   5.38
40+              12.0                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [47]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [53]:
#Create bins by age
purchase_data["Age Cuts"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
age_grp2 = purchase_data[["Age Cuts","SN", "Price"]]
age_grp2
age_purchase_summary_df = age_grp2.groupby('Age Cuts')
age_purchase_summary_df
#calculate individual series
purchase_counts = age_purchase_summary_df['Price'].count()
purchase_counts
average_prices = round(age_purchase_summary_df['Price'].mean(),2)
total_price = round(age_purchase_summary_df['Price'].sum(), 2)
total_per_person = round(total_price/age_grp_counts,2)

#create dataframe with final output
temp_age_df = pd.DataFrame([purchase_counts, average_prices, total_price, total_per_person])
final_age_df = temp_age_df.T
final_age_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
final_age_df.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Cuts,,,,
<10,23.0,3.35,77.13,4.54
10-14,28.0,2.96,82.78,3.76
15-19,136.0,3.04,412.89,3.86
20-24,365.0,3.05,1114.06,4.32
25-29,101.0,2.90,293.00,3.81
30-34,73.0,2.93,214.00,4.12
35-39,41.0,3.60,147.67,4.76
40+,13.0,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
spenders_df=purchase_data.groupby("SN")
len(spenders_df.count())

576

In [24]:
df_SN = purchase_data.groupby('SN')
#to format all float columns
#pd.options.display.float_format = '${:,.2f}'.format

SN_count = purchase_data['SN'].value_counts(0)
purchase_count = round(df_SN['Purchase ID'].count())
avg_purchase_price = round(df_SN['Price'].mean(), 2)
total_purchase_value = round(df_SN['Price'].sum(), 2)
top_spenders_df = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value])
top_spenders_df1 = top_spenders_df.T
top_spenders_df1.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
top_spenders_df1
top_spenders_df1.sort_values(by=["Purchase Count"], ascending=False, inplace=True)
top_spenders_df1
top_spenders_df1['Average Purchase Price'] = top_spenders_df1['Average Purchase Price'].map('${:,.2f}'.format)
top_spenders_df1['Total Purchase Value'] = top_spenders_df1['Total Purchase Value'].map('${:,.2f}'.format)
top_spenders_df1

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                5.0                  $3.79               $18.96
Iral74                   4.0                  $3.40               $13.62
Idastidru52              4.0                  $3.86               $15.45
Asur53                   3.0                  $2.48                $7.44
Inguron55                3.0                  $3.70               $11.11
...                      ...                    ...                  ...
Hala31                   1.0                  $1.02                $1.02
Haisurra41               1.0                  $4.40                $4.40
Hailaphos89              1.0                  $3.81                $3.81
Haestyphos66             1.0                  $1.97                $1.97
Iskosian40               1.0                  $3.07                $3.07

[576 rows x 3 columns]

In [25]:
#Copied the below output table from sample

In [26]:
             Purchase Count Average Purchase Price Total Purchase Value
SN                                                                     
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

SyntaxError: invalid syntax (<ipython-input-26-9304a1e1f119>, line 1)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_data
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
popular_df

In [ ]:
popular_df_grp = popular_df.groupby(["Item ID","Item Name"])
popular_df_grp.count()

In [ ]:
item_count = popular_df_grp["Item ID"].count()
item_count

In [ ]:
total_item_price =popular_df_grp["Price"].sum()
total_item_price

In [ ]:
average_item_price = round(total_item_price/item_count,2)
average_item_price

In [ ]:
items_df = pd.DataFrame([item_count, average_item_price, total_item_price])
items_df = items_df.T
items_df.columns = ['Item Count', 'Average Item Price', 'Total Item Value']
items_df
items_sort_df = items_df.sort_values(by=["Item Count"], ascending=False)
items_sort_df
items_sort_df['Average Item Price'] = items_sort_df['Average Item Price'].map('${:,.2f}'.format)
items_sort_df['Total Item Value'] = items_sort_df['Total Item Value'].map('${:,.2f}'.format)
items_sort_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
items_total_sort_df = items_df.sort_values(by=["Total Item Value"], ascending=False)
items_total_sort_df